@font-face{
	font-family: OpenSans;
	src: url("../fonts/OpenSans-Bold.ttf");
}
*{
	margin:0px;
	padding: 0px;
}
body{
	background: #f1f4f6;
}
hr{
	height: 500px;
}
.ml-r{
	margin-left: 0px;
	margin-right: 0px;
}
h1,h2,h3,h4,h5{
	font-family: OpenSans;
	text-transform: uppercase;
}
.normal{
	text-transform: capitalize;
}
/* major parts which are used in template*/
.btn-danger{
   border:1px solid#fa7c30;
	background: #fa7c30;
	width: 100px;
}
.web_btn{
	padding:10px;
	background:#fa7c30;
	color:#fff;
	width: 170px;
	font-family: OpenSans;
	text-transform: uppercase;
	font-size: 14px;
}.web_btn:hover{color: #fff;}
.yellow{color:#fa7c30;}
.white{color:#fff;}
.black{color:#111;}h2{font-size: 36px;}h3{font-size: 26px;}
/*-------------
------booking
--------------*/
.fa-bars{
	font-size: 30px;
	color: #fa7c30;
}
.blacknav{
	position: fixed;
	background:#fa7c30a6;
	width: 100%;
}
.online_boking .container{
	width:100%;
	margin:0px;
	padding: 0px;
	background: #fff;
	margin-top: 100px;
	
	
}
#landing-text h1{
    font-size: 55px;
	padding-bottom: 30px;
}
#landing-text {
	margin-bottom: 140px;
}
.online_boking .container .form-text{
	width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}
.online_boking .container .form-text form{
	text-align: center;
	margin-left: 15px;
}
.online_boking .container .form-text form .fa{
	
	margin-left: 15px;
}
.online_boking .container .form-text form input{
	border-top: none;
	padding-top:85px;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid#111;
	
}
.online_boking .container .form-text form .btn {
	margin-top:70px;
}
.online_boking .container .form-text form input:focus{
	
	border:none;
}

.transparent{
background: transparent;
	
	
}

.navbar
{z-index: 1000;}
.navbar-brand{
	margin-top: 10px;
}
.navbar ul li a{
	color:#fff;
}
header {
	background-image:url("../images/header replace image.png");
	background-size: cover;
	background-position: center;
	width: 100%;
	max-height: 750px;
}
header #landing-text{
	padding-top: 170px;
	padding-bottom: 170px;
	
}
/*-------------
welcome to fittnes
---------------------*/
.wellcome_fittness{
	padding-top: 160px;
	padding-bottom: 260px;
}
.wellcome_fittness img{
	width: 100%;
}

/*--------------
wellcome_to_fittness
-----------------------------*/
.wellcome_to_fittness{
	padding-top: 85px;
	padding-bottom: 85px;
	background: #ffff;
}
.card{
	background: #f1f4f6;
	border: none;
	margin-top: 10px;
}
/*----------------
personal_trainer
--------------------*/
.personal_trainer{
	padding-top: 190px;
	padding-bottom: 190px;
	background-image: url("../images/layout.png");
	background-position: center center;
	background-size: cover;
	color:#fff;
}
.personal_trainer h1{
	font-size: 55px;
	padding-bottom: 30px;
}
.expert_trainers {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
}
/*----------------
obow_footer
---------------------*/
.obow_footer{
	
	
		
}
.true_for_free .btn{

	margin-left: 30%;

}
.call_for_free .btn{

	margin-left: 30%;

}
.obow_footer{
	padding-top: 190px;
	padding-bottom: 190px;
	background-image: url("../images/Bg From4.png");
	background-position: center center;
	background-size: cover;
	color:#fff;
}
.first_foter_col p{
	color:#fff;
	padding-top: 20px;
	
}
.first_foter_col ul li {
	list-style: none;
	float:left;
	padding-bottom: 25px;
	margin-left: 8px;
}.first_foter_col ul li a {
	color:#fff;
}.first_foter_col ul li:hover a {
	color: #fa7c30;
	text-decoration: none;
	
}

.footer .footer_lat_post h5{
	padding-bottom: 15px;
}
.footer .footer_lat_post .row{
	margin-top:20px;
}
.footer .footer_instagram h5{
padding-bottom: 30px;
}
.footer .footer_instagram img{
	margin: 0px; 
	padding: 0px;
	width: 100px;
	height:100px;
	position: center;
}.footer .footer_instagram a{
	line-height: 50px;
     color:#fff;
	text-decoration: none;
}
.footer{
	
	padding-top: 100px;
	padding-bottom: 100px;
	background: #161418;
}
.copyright{
	padding-top: 5px;
	padding-bottom: 5px;
	background: #161418;
}





